<table class="table table-primary table-striped table-hover">
    <tr>
      <th>Remove</th>
      <th>Subject Code</th> 
      <th>Course Number</th>
    </tr>
        {% for row in added_data: %}
            <tr>
                <td>
                    <a href={{'homepage?subj_remove=%s&crn_remove=%s' % (row[0], row[1])}}>-</a>
                </td>
                {% for field in row %}
                    <td>
                        {{'%s' % field}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
</table>