{% if added_data: %}
<table>
    <tr>
      <th>Remove</th>
      <th>Subject Code</th> 
      <th>Course Number</th>
      <th>Title</th>
    </tr>
        {% for row in added_data: %}
            <tr>
                <td>
                    <a href={{'homepage?subj_remove=%s&crn_remove=%s&title_remove=%s' % row}}>-</a>
                </td>
                {% for field in row %}
                    <td>
                        {{'%s' % field}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
</table>
{% endif %}