<table class="table table-striped table-hover">
    <tr>
        <th>Add</th>
        <th>Subject Code</th>
        <th>Course Number</th>
        <th>Title</th>
    </tr>
    {% for row in data: %}
    <tr>
        <td>
            <a href={{'homepage?subj_add=%s&crn_add=%s' % row[0:2]}}>+</a>
        </td>
        <!-- TODO: only display row if its not in the added data -->
        {% for field in row %}
        <td>
            {{'%s' % field}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>